<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>custom Component</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js?v=1.0"></script>

</head>
<body>
<div id="app">
    <runoob></runoob>

    <p>{{total}}</p>
    <!-- 这段代码的意义是：
    1 定义了一个自己的组件，默认返回了自己的成员量counter；
    2 组件里面监听了onclick，当点击时候触发了自己的方法incrementHandler方法，讓自己counter++；
    3 執行完自己的counter++後，触发了自定义的increment方法--vue容器的方法 incrementTotal;
    4 incrementTotal讓vue容器的成员量total++；
    5 显示total的值到标签p
     -->
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>

    <zl-input v-model="num"></zl-input>
    <p>输入的数字为:{{num}}</p>

    <base-checkbox v-model="lovingVue"></base-checkbox>
    <div v-show="lovingVue">
        如果选择框打勾我就会显示。
    </div>

    <p>页面载入时，input 元素自动获取焦点：</p>
    <input v-focus>


</div>
<script>
    Vue.component('runoob', {
        template:'<input type="text" value="hello runoob">'
    });

    Vue.component('buttonCounter', {
        template: '<button v-on:click="incrementHandler">{{counter}}</button>',
        data: function () {
            return {
                counter: 0
            }
        },

        methods: {
            incrementHandler: function () {
                this.counter += 1
                this.$emit('increment');
            }
        },
    });

    Vue.component('zl-input',  {
        //这里使用了``  是因为标签里面有了''， 如果用'' 就会出现解析问题
        template:`<p><input  ref="input"   :value="value"  @input="$emit('input', $event.target.value)"  ></p>`,
        data: function () {
        },
        methods: {},

        props:['value'] //标签中的属性名为value的一个属性
    });

    Vue.component('base-checkbox', {

        model: {
            prop: 'checked',
            event: 'change'  // onchange 事件
        },
        props: {
            checked: Boolean
        },

        template: `
    <input
      type="checkbox"
      v-bind:checked="checked"
      v-on:change="$emit('change', $event.target.checked)"
    >
  `
    })

    // 注册一个全局自定义指令 v-focus
    Vue.directive('focus', {
        // 当绑定元素插入到 DOM 中。
        inserted: function (el) {
            // 聚焦元素
            el.focus()
        }
    })

    new Vue({
        el:'#app',
        data:{
            total:0,
            num:100,
            lovingVue: true,
        },

        methods: {
            incrementTotal: function () {
                this.total += 1;
            }
        }
    });

</script>

</body>
</html>
