<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js?v=1.0"></script>
    <style>
        .class1 {
            background: #2f7fc2 none repeat scroll 0 0;
            border: 1px solid #226eac;
            color: #fff;
            display: inline;
            font-family: 微软雅黑;
            height: 26px;
            line-height: 26px;
            margin: 0 0 0 5px;
            text-align: center;
            text-decoration: none;
            width: 155px;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div id="vue_det">
    <h1>site: {{site}}</h1>
    <h1>url: {{url}}</h1>
    <h1>{{details()}}</h1>
    <div v-html="message"></div>

    <label for="r1">修改颜色</label>
    <input type="checkbox" v-model="use" id="r1">
    <br><br>
    <div v-bind:class="{'class1': use}">dssdfsdf  v-bind:class 指令</div>

    <br><br>
    {{5+5}} <br>
    {{ok? 'YES':'No'}}<br>
    {{message2.split('').reverse().join('')}}
    <div v-bind:id="'list-'+-id"></div>
    <p v-if="seen">现在看到我了</p>
    <pre><a blank v-bind:href="url">菜鸟教程</a></pre>
    <a href="https://www.baidu.com">baidu</a>

    <h1>双向数据绑定</h1>
    <p>{{message2}}</p>
    请输入：<input v-model="message2"/><br>
    <button v-on:click="reverseMessage">反转字符串</button>

    <h1>管道过滤器</h1>
    <p>原始内容：{{message2}}</p>
    <p>过滤内容：{{message2 | capitalize}}</p>

    <p v-if="seen">现在看到我了</p>
    <template v-if="ok">
        <p>菜鸟教程</p>
        <p>学的不仅是技术，还是梦想。</p>
    </template>

    <p>Handlebars 模板</p>
    <div v-if="Math.random() > 0.5">
        Sorry
    </div>
    <div v-else>
        Not sorry
    </div>

    <div v-if="type==='A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        NOT A/B/C
    </div>
    <div v-show="ok">
        AAA
    </div>

    <h2>迭代循环的使用</h2>
    <div v-for="site in sites">
        {{site.name}}
    </div>

    <div v-for="value in object">
        {{value}}
    </div>
    <url>
        <li v-for="(v,k) in object">
            {{k}}:{{v}}
        </li>
    </url>
    <url>
        <li v-for="(v,k, i) in object">
            {{i}}:{{k}}:{{v}}
        </li>
    </url>
    <url>
        <li v-for="n in 10">
            {{n}}
        </li>
    </url>

    <div id="app">
        {{ message2.split('').reverse().join('') }}
    </div>
</div>
<script type="text/javascript">
    //import Vue from "vue";

    var vm = new Vue({
        el: '#vue_det',
        data: {
            seen:true,
            site: "菜鸟教程",
            url: "https://www.runoob.com",
            alexa:"10000",
            message2: '5678hello菜鸟教程1234',
            message: '<h1>hello菜鸟教程</h1>',
            use: false,
            id:123,
            ok:true,type:"AA",

            sites:[
                {name: "Runoob"},
                {name: "Google"},
                {name: "ali"}
            ],

            object: {
                name: '菜鸟教程',
                url: 'http://www.runoob.com',
                slogan: '学的不仅是技术，更是梦想！'
            }

        },
        methods:{
            details: function () {
                return this.site + "-学习不仅仅是金属，更是闷响"
            },
            reverseMessage: function () {
                this.message2 = this.message2.split('').reverse().join('')
            }
        },

        filters:{
            capitalize: function (value) {
                if (!value)
                    return '';

                value = value.toString()
                return value.charAt(0).toUpperCase() + value.slice(1)
            }
        }


    })

</script>

</body>
</html>
